/*Template jinjer*/
.select2-container--jinjer {
    background-color: #fff;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
    color: #19233c;
    border: 0;
    box-shadow: 0 5px 4.5px 0.5px #f7f7f7;
    font-size: 14px;
    line-height: 1;
    width: auto;
    -webkit-appearance: none;
    border-radius: 0;
    font-weight: normal;
}
.select2-container--jinjer .select2-selection--single {
    height: 37px !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 0;
}
.select2-container--jinjer .select2-selection--single .select2-selection__rendered {
    line-height: 37px !important;
}
.select2-container--jinjer .select2-selection__arrow {
    display: none;
}
.select2-container--jinjer .select2-dropdown {
    border: 1px solid #e5e5e5 !important;
}
.select2-container--jinjer .select2-dropdown .select2-search__field {
    border: 1px solid #e5e5e5 !important;
}
.select2-container--jinjer .select2-search--dropdown .select2-search__field {
    box-shadow: none;
}
.select2-container--jinjer{
    min-width: 230px!important;
}

.select2-container--jinjer .select2-results .select2-results__option--highlighted{
    background-color: #e5e8f7;
}

/*Template default*/
.select2-container--jinjer .select2-search--dropdown .select2-search__field {
    box-shadow: none;
}
.select2-container--jinjer .select2-selection--single .select2-selection__arrow {
    display: none;
}
.select2-container--jinjer .select2-results .select2-results__option--highlighted{
    background-color: #e5e8f7;
}
.select2-container--jinjer .select2-results>.select2-results__options{
    max-height: 200px;
    overflow-y: auto;
}

.select2-results__option[aria-disabled="true"] {color:#9e9e9f !important;}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;

}

.select2-container--disabled {
    background-color: #eee;
    cursor: default;
}
