@charset "UTF-8";
label.required::after {
    content: "*";
    color: red;
}

div.dash::before {
    display: inline-block;
    content: " - ";
    white-space: pre;
}

.btn-seach-user{
    top:28px;
}

.radio-padding-left{
    padding-left: 2px !important;
}

label:not(.checkbox).form-list__required::after {
    left: 0;
    margin-left: 10px;
    -webkit-transform: translate(0, -16%);
    -moz-transform: translate(0, -16%);
    -ms-transform: translate(0, -16%);
    -o-transform: translate(0, -16%);
    transform: translate(0, -16%);
    content: "必須";
    width: 38px;
    height: 18px;
    background-color: #ff6035;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .enigma-flag-red {
    font-size: 20px;
    margin-left: 5px;
    color: #ff391f;
    margin: 0px 7px 0px 7px;
}
.enigma-flag-green {
    font-size: 20px;
    margin-left: 5px;
    color: #28a745;
    margin: 0px 7px 0px 7px;
}
.enigma-code-invalid {
    background-color: rgba(255, 0, 0, 0.30);
}
.enigma-code-valid {
    background-color:#66CCFF;
}
.asterisk_required:before {
    content: "* ";
    color: red;
}
.status_filter_area {
    margin-left: 20px;
}
.status_filter_area input {
    margin: 2px;
}
.status_filter_area label {
    margin-left: 3px;
}
.services_name label {
    padding-left: 10px;
    padding-right: 50px;
}
.survey_monkey_body > form > .form-group {
    margin-bottom: 35px;
}
.survey_check_box {
    z-index: 202 !important;
    position: fixed;
    top: calc(50% +  170px);
    left: calc(50% - 250px);
    width: 300px;
    display: inline-block;
}
.survey_check_box input {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    appearance: auto;
    vertical-align: middle;
    box-shadow: none;
}
.survey_check_box label {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    color: white;
}
.background-opacity {
    opacity: 0.7 !important;
    width: 100%;
    height: 100vh;
    z-index: 201;
    position: fixed;
    top: 0;
    left: 0;
    background: #111111;
}